@charset "utf-8";

.listTable {
	background: #CBDDF1;
	width: 736px;
	margin-top: 7px;
	color: #434343;
	font-size: 12px;
}

.listTable .like {
	background: url("../img/hand.gif") no-repeat scroll 0 0 transparent;
	padding: 0 0 0 15px;
}

.listTable th {
	background: #EFF4FA;
	font-size: 12px;
	font-weight: bold;
	color: #264176;
	line-height: 25px;
}

.listTable th.sort {
	text-decoration: underline;
	cursor: pointer
}

.listTable td {
	text-align: center;
	background: #ffffff;
	vertical-align: middle;
	padding: 2px 2px 2px 2px;
}

.listTable .checkbox {
	width: 25px;
}

.listTable .inquirySubject {
	line-height: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 225px;
}

.listTable .tradeAlertContent {
	line-height: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 215px;
	text-align: left;
	padding: 0 5px;
}

.groupList {
	width: 736px;
	margin-top: 10px;
	float: left;
	overflow: hidden;
}

.groupList .groupListLeft {
	border: 1px solid #D2DEEA;
	width: 363px;
	float: left;
	padding-bottom:15px;
}

.groupList .groupListRight {
	border: 1px solid #D2DEEA;
	width: 363px;
	float: right;
}

.groupList .groupListRight div {
	line-height: 22px;
}

.groupList h2 {
	background: url(../img/packet_top_bg.gif) no-repeat;
	height: 35px;
	line-height: 35px;
	padding-left: 40px;
	color: #3965AC;
	font-weight: bold;
	font-size: 12px;
	margin-bottom:15px;
}

.groupList .dTreeNode {
	width: 344px;
	overflow: hidden;
	padding-bottom: 32767px;
	margin-bottom: -32767px;
	font-size: 12px;
	padding-left: 5px;
}

.specialGroupList {
	width: 734px;
	margin-top: 5px;
	border: 1px solid #CBDDF1;
	overflow: hidden;
	float: left;
}

.specialGroupList .title {
	background: #EFF4FA;
}

.specialGroupList .title ul {
	width: 734px;
	color: #264176;
	border-bottom: 1px solid #CBDDF1;
	font-size: 12px;
	line-height: 25px;
	height: 25px;
	font-weight: bold;
	text-align: left;
	list-style-image: none;
	list-style-type: none;
	overflow: hidden;
}

.specialGroupList .title li {
	float: left;
	text-align: center;
}

.specialGroupList .title .liLeft {
	width: 100px;
}

.specialGroupList .title .liCenter {
	width: 450px;
}

.specialGroupList .title .liRight {
	width: 184px;
}

.specialGroupList .listBox {
	width: 734px;
	font-size: 12px;
}

.specialGroupList .listBox ul {
	width: 734px;
	border-bottom: 1px solid #CBDDF1;
	overflow: hidden;
	height: 33px;
	line-height: 33px;
	list-style-image: none;
	list-style-type: none;
}

.specialGroupList .listBox li {
	float: left;
	text-align: center;
}

.specialGroupList .listBox .liLeft {
	width: 100px;
}

.specialGroupList .listBox .liCenter {
	width: 450px;
}

.specialGroupList .listBox .liRight {
	width: 184px;
}

.specialGroupList .listBox .current {
	background: #EFF4FA;
	height: 33px;
	line-height: 33px;
}

/* IE6 fix */
* html .specialGroupList .listBox .current {
	padding-top: 5px;
	height: 28px;
}

.productOrderList {
	border: 1px solid #CBDDF1;
	width: 734px;
	margin-top: 7px;
	float: left;
	padding-bottom: 10px;
}

.productOrderList ul {
	margin: 10px 23px 0px 23px;
	list-style-image: none;
	list-style-type: none;
	width: 688px;
	float: left;
}

/* IE6 fix */
* html .productOrderList ul {
	margin: 10px 10px 0px 10px;
}

/* 产品排序列表 */
.productOrderList li {
	float: left;
	width: 137px;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	font-family: Arial;
	margin-bottom: 10px;
	padding: 5px 0px;
	cursor: move;
	height: 160px;
}

.productOrderList .line {
	width: 100%;
	height: 1px;
	overflow: hidden;
	border: 0px;
	display: block;
	margin: 0px;
}

.productOrderList li.current {
	background: #DDEFFF;
}

.productOrderList .number {
	color: #B60B0A;
}

/* 首页展台产品 */
.featureList {
	border: 1px solid #CBDDF1;
	width: 734px;
	margin-top: 7px;
	float: left;
	padding-bottom: 10px;
}

.featureList ul {
	margin: 10px 5px 0px 10px;
	list-style-image: none;
	list-style-type: none;
	float: left;
}

/* IE6 fix */
* html .featureList ul {
	margin: 10px 0px 0px 3px;
}

.featureList li {
	float: left;
	width: 168px;
	height: 140px;
	text-align: left;
	font-size: 12px;
	line-height: 18px;
	font-family: Arial;
	margin-bottom: 10px;
	border: 1px solid #cccccc;
	padding: 2px;
	margin-right: 5px;
}

/* IE6 fix */
* html .featureList li {
	margin-right: 3px;
}

.featureList li.current {
	background: #DDEFFF;
}

.featureList li .text {
	float: left;
	margin-left: 5px;
	overflow: hidden;
}

.featureList li .form {
	float: left;
	width: 172px;
	margin-top: 5px;
	overflow: hidden;
}

.featureList .line {
	width: 100%;
	height: 1px;
	overflow: hidden;
	border: 0px;
	display: block;
	margin: 0px;
}

.subscribeList {
	float: left;
	width: 200px;
	overflow: hidden;
}

.subscribeList ul {
	margin: 0 auto;
	list-style-image: none;
	list-style-type: none;
	float: left;
	width: 200px;
	padding: 0px;
	overflow: hidden;
	padding: 5px 0px;
}

.subscribeList li {
	float: left;
	width: 200px;
	height: 20px;
	margin-bottom: 5px;
}

.orderList {
	width: 734px;
	margin-top: 5px;
	border: 1px solid #CBDDF1;
	overflow: hidden;
	text-align: center;
}

.orderList .title {
	background: #EFF4FA;
	width: 734px;
}

.orderList .title div {
	float: left;
	background: #EFF4FA;
	line-height: 25px;
	border-bottom: 2px solid #D5DCE4;
	font-weight: bold;
	color: #2E4064;
}

.orderList ul {
	list-style-image: none;
	list-style-type: none;
}

.orderList ul li {
    border-bottom: 1px solid #DADEE1;
    cursor: move;
    display: table-cell;
    float: left;
    height: 46px;
    vertical-align: middle;
    width: 734px;
}

.orderList ul li div {
	float: left;
	line-height: 20px;
	padding-top:12px;
}

.noFeatureProductList {
	background: #CBDDF1;
	width: 680px;
	margin-top: 7px;
	color: #434343;
	font-size: 12px;
}

.noFeatureProductList th {
	background: #EFF4FA;
	font-size: 12px;
	font-weight: bold;
	color: #264176;
	line-height: 25px;
}

.noFeatureProductList td {
	text-align: center;
	background: #ffffff;
	vertical-align: middle;
	padding: 2px 2px 2px 2px;
}

.noFeatureProductList .pagination {
	width: 650px;
}

.selectVideoList .pagination {
	width: 580px;
}