<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
		http://www.springframework.org/schema/jee 
		http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">
		
	<tx:advice id="websiteTxAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="check*" read-only="true" />
			<tx:method name="get*" read-only="true" />
			<tx:method name="update*" read-only="false" />
			<tx:method name="delete*" read-only="false" />
			<tx:method name="add*" read-only="false" />
			<tx:method name="save*" read-only="false" />
		</tx:attributes>
	</tx:advice>

	<aop:config proxy-target-class="true">
		<aop:pointcut id="websiteServiceMethod" expression="execution(* com.hisupplier.cn.account.website.*Service.*(..))" />
		<aop:advisor advice-ref="websiteTxAdvice" pointcut-ref="websiteServiceMethod" />
	</aop:config>

	<bean id="websiteService" class="com.hisupplier.cn.account.website.WebsiteService">
		<property name="userDAO" ref="userDAO" />
		<property name="websiteDAO" ref="websiteDAO" />
		<property name="websiteModuleDAO" ref="websiteModuleDAO" />
		<property name="menuDAO" ref="menuDAO" />
		<property name="companyDAO" ref="companyDAO" />
		<property name="webSiteModuleTitleDAO" ref="webSiteModuleTitleDAO" />
		<property name="talkDAO" ref="talkDAO" />
		<property name="adminLogDAO" ref="adminLogDAO" />
	</bean>

	<bean id="websiteAction" class="com.hisupplier.cn.account.website.WebsiteAction" scope="prototype">
		<property name="websiteService" ref="websiteService" />
	</bean>
	
	<bean id="websiteFormAction" class="com.hisupplier.cn.account.website.WebsiteFormAction" parent="websiteAction" scope="prototype" />

</beans>